{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fishshop</title>
</head>

<body>
    <style>
        
        table{
            color: rgb(56, 4, 4);
            background-color:rgb(134, 171, 0);
            border-collapse: collapse;
            border: 3px solid #ffffff ;
           
           
        }

        th{
            text-align: center;
            background-color: rgb(46, 125, 7);
            border-collapse: collapse;
            border: 3px solid #ffffff ;
           
          
        }
        td{
            text-align: center;
            border-collapse: collapse;
            border: 3px solid #ffffff ;
            font-size: 20px;

           
           
        }
        .first{
            text-align: center;
            color: rgb(66, 109, 0);
            font-family: Ink Free, sans-serif;  
            font-size: 50px;
        }
      




    </style>
    <div class="first">Магазин аксессуаров для рыбалки</div>
    
    <table>
        <caption>Каталог товаров</caption>
        <thead>
            <tr>
                <th>Фото товара</th>
                <th>Название</th>
                <th>Характеристика</th>
                <th>Цена</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img  src="{% static 'img/01.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p>Удилище поплавочное с кольцами Salmo Elite BOLOGNESE MEDIUM M 6.00</p>
                </td>
                <td>
                    <p>Бренд — SALMO
                        Серия — Elite
                        Длина, м. — 6
                        Длина, см. — 600
                        Вес (гр.) — 289</p>
                </td>
                <td style="width: 80px;">
                    <p> 229.80 руб. </p>
                </td>
                <td>
                    <p>
                        Высококачественное легкое удилище средней мощности для поплавочной ловли. Верхнее колено имеет два дополнительных разгрузочных кольца.
‣ Материал бланка удилища – углеволокно (T30)
‣ Строй бланка средне-быстрый
‣ Конструкция телескопическая
Кольца пропускные:
– облегченные
– дополнительные разгрузочные – 2 шт.
– со вставками SIC
‣ Рукоятка с противоскользящим покрытием
‣ Катушкодержатель быстродействующего типа CLIP UP
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/02.png' %}"  width="200" height="200"alt="photo" >  
                </td>
               
                <td>
                    <p>Катушка мультипликаторная Lucky John Vanrex CAST 6 MLC</p>
                </td> 
                <td>
                    <p>Бренд — LUCKY JOHN
                        Серия — Vanrex
                        Вес (гр.) — 194
                        Передаточное соотношение — 6.3:1
                        Количество подшипников — 5</p>
                </td>
                <td style="width: 80px;">
                    <p>195.80 руб.</p>
                </td>
                <td>
                    <p>
                        Эргономичная и функциональная низкопрофильная мультипликаторная катушка. Сравнительно нетяжёлая (194г), оснащена магнитной тормозной системой с увеличенным числом магнитов, позволяет работать с приманками лёгкого и средне-лёгкого класса. Придётся по вкусу как начинающим, так и более опытным рыболовам. Отличное сочетание цена – качество.
                        • 5 подшипников шариковых
                        • 1 подшипник роликовый
                        • Мгновенный стопор обратного хода (антиреверс)
                        • Система торможения механическая осевая MECHANIC DRAG
                        • Система торможения магнитная MAGNETIC DRAG
                        • Фрикционный тормоз STAR DRAG
                        • Корпус карбопластовый
                        • Высокоточный механизм привода: бронза – алюминий
                        • Шпуля алюминиевая облегчённая
                        • Лесоукладыватель с «бесконечным винтом»
                        • Рукоятка:
                        – левосторонняя
                        – сбалансированная
                        • Ручки (кнобы) эргономичные из пластика
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/03.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p>Удилище фидерное Salmo Sniper FEEDER 60 3.60</p>
                </td> 
                
                <td>
                    <p>Бренд — SALMO
                        Серия — Sniper
                        Длина, см. — 360
                        Вес (гр.) — 252
                        Тест до гр. — 60</p>
                </td>
                <td style="width: 80px;">
                    <p>146.20 руб.</p>
                </td>
    
                <td>
                    <p>
                        Современные фидерные удилища лёгкого класса. Рекомендуются для стоячих водоёмов, небольших рек с медленным течением, а также ловли на реках и каналах на ближней дистанции. Отличное сочетание цена-качество.
                        Бланк:
                        – материал
                        – углеволокно (IM7)
                        – строй средне-быстрый
                        – конструкция штекерная
                        – соединение колен типа OVERSTEEK
                        Вершинки удилища:
                        – сменные разной чувствительности (3 шт.)
                        – с сигнальной раскраской
                        Кольца пропускные:
                        – со вставками SIC
                        – усиленные
                        Рукоятка:
                        – комбинированная
                        Катушкодержатель:
                        – винтового типа
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/04.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p>Катушка безынерционная Salmo Diamond FEEDER 5 6000FD</p>
                </td>
                <td>
                    <p>Бренд — SALMO
                        Размер шпули — 6000
                        Вес (гр.) — 380
                        Передаточное соотношение — 4.7:1
                        Количество подшипников — 4</p>
                </td> 

                <td style="width: 80px;">
                    <p>141.20 руб.</p>
                </td>

                <td>
                    <p>
                        Мощная катушка для ловли рыбы на донные оснастки. Характеризуется хорошей намоткой плетеного шнура на шпулю, клипса не режет шнур, хорошим качеством сборки и балансировки, небольшим весом и конкурентной ценой.
• Тормоз фрикционный передний FD
• 4 подшипников шариковых
• 1 подшипник роликовый
• Мгновенный стопор обратного хода (антиреверс)
• Выключатель антиреверса флажковый нижний
• Качественный механизм привода: латунь – бронза
• Корпус и ротор карбопластовые
• Шпуля алюминиевая облегченная
• Дужка лесоукладывателя полая прочная (облегченная)
• Ролик лесоукладывателя конусный увеличенный (противозакручиватель)
• Рукоятка:
– алюминиевая механически обработанная
– с винтовым типом фиксации
– с возможностью право/левосторонней установки
• Ручка (кноб) эргономическая из материала EVA
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <img  src="{% static 'img/glass.png' %}"  width="200" height="200"alt="photo" >  
                </td>
                <td>
                    <p>Очки поляризационные Shimano Fireblood линзы оранжевые</p>
                </td> 
                
                <td>
                    <p>Бренд — SHIMANO</p>
                </td>
                <td style="width: 80px;">
                    <p>1132 руб.</p>
                </td>
    
                <td>
                    <p>
                        Очки Shimano Fireblood c высококачественными поляризационными линзами оранжевого цвета.
Поляризационные очки Shimano Fireblood незаменимы на рыбалке в солнечный день. Эти очки имеют специальные высококонтрастные линзы, изготовленные из TAC, которые отлично защитят Ваши глаза от вредного воздействия солнечного света.
Поляризационные линзы из материала TAC обладают улучшенными износостойкими и ударопрочными характеристиками, а также обеспечивают качественное изображение, защиту от УФ-излучения, бликов и комфортное цветовосприятие.
Очки Shimano Fireblood имеют оправу Grillamid TR90, которая является довольно легкой. Grilamid TR90 - качественный, очень легкий и достаточно прочный полимерный материал. Придает оправам легкость, обеспечивает их гибкость и термостойкость.
Очки снабжены прорезиненными антиаллергенными нескользящими вставками на дужках и мягкими носовыми подушечками. Высокая ультрафиолетовая защищенность, легкость материалов, из которых изготовлены очки, позволяют носить их очень долго и не чувствовать утомления глаз или переносицы.
Имеют специальную форму оправы, которая обеспечивает хорошую вентиляцию предотвращая запотевание.
- Высококонтрастные поляризующие линзы из триацетата целлюлозы
- Черная оправа из материала Grilamid® TR90
- Повышенная контрастность линз
- Стильный современный дизайн
- Прорезинненые носовые подушечки
В комплекте с очками Вы обнаружите удобный чехол от Shimano.
                    </p>
                </td>

            </tr>
        </tbody>
    </table>

      <p style="font-size: 20px;">Больше информации о нас:</p>
      <a href="https://www.salmo.by/?srsltid=AfmBOorK6ctFK3KR0yPAQLk_-mb3ln30L5-9vyCb-oySW4rHkl-HwbVD" style="color: darkcyan; font-size: 20px;">https://www.salmo.by</a>
      <p>Связаться с нами: +375 (44) 736-11-22</p>
      <a href="http://127.0.0.1:8000" style="color: black"> <-Вернуться назад</a>
    
    
</body>
</html>